<!-- Navbar Start -->
<!--<div class="fixed-top">-->
<div class="container-fluid bg-light position-relative shadow" style="padding-left: 0px;padding-right: 0px;">
  <nav class="navbar navbar-expand-lg g-0 bg-light navbar-light py-3 py-lg-0 px-0 px-lg-5">
    <a href="" class="navbar-brand font-weight-bold text-secondary" style="font-size: 50px">
      <i class="flaticon-043-teddy-bear"></i>
      <span class="text-primary">ABC FITNESS</span>
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
      <div class="navbar-nav font-weight-bold mx-auto py-0">
        <a href="index.html" class="nav-item nav-link">Trang Chủ</a>
        <a href="#scrollspyHeading1" class="nav-item nav-link">Tin Tức</a>
        <a href="#scrollspyHeading1" class="nav-item nav-link">Quản Lí</a>
        <div class="text-black-50"><a href="#scrollspyHeading2" class="nav-item nav-link" style="color: black">Liên
          Hệ</a></div>
      </div>
    </div>
  </nav>
</div>
